/* HEADER */

body {
  font-family: 'Roboto', Georgia, Times, serif;
  font-size: 14px;
  color: #fff;
}

.header {
  background: #3398FF;
  border-bottom: 1px solid ##298CCE;
}

.menu li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.5em;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  color: #d0d;
}

.botao-laranja {
  background: orange;
  border-radius: 24px;
  font-size: 0.3em;

}

/* MAIN */

.main {
  background: #3398FF;
  color: #fff;
  padding: 60px 0;
}

.titulo {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: 'Muli', 'Roboto', 'Times New Roman', Times, serif;
  margin: 20px 0;

}

.titulo::before {
  content: "";
  display: table;
  width: 100px;
  height: 5px;
  background: #fff;
  margin: auto auto 10px 0;
  text-align: left;
}

.subtitulo {
  font-weight: lighter;
  margin: 20px 0;

}

.botao-branco {
  text-decoration: none;
  background: #fff;
  border-radius: 24px;
  padding: 10px;
  margin-top: 80px;
}

/* STEPS */

.steps {
  padding: 60px 0;
}

.titulo-steps {
  color: #256E9E;
  font-family: 'Muli', 'Roboto', 'Times New Roman', Times, serif;
  font-size: 37px;
  font-weight: bold;
  padding: 40px 20px 0;

}

.titulo-steps::after {
  content: "";
  display: table;
  width: 20px;
  height: 8px;
  background: orange;
  margin: auto auto auto 0;
  text-align: left;
}

.paragrafo-steps {
  color: #000;
  font-family: 'Muli', 'Roboto', 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 40px 20px 0;
}

/* QUEM SOMOS */

.quem-somos {
  background: #3398FF;
  padding: 60px 0;
}

.titulo-quem-somos {
  text-align: center;
  color: #fff;
  font-family: 'Muli', 'Roboto', 'Times New Roman', Times, serif;
  font-size: 37px;
}

.titulo-quem-somos::after {
  content: "";
  display: table;
  width: 20px;
  height: 8px;
  background: orange;
  margin: 0 auto 10px 615px;
  ;
  text-align: left;
}

.paragrafo-quem-somos {
  font-family: 'Muli', 'Roboto', 'Times New Roman', Times, serif;
  font-size: 21px;
}

/* MEUS TRABALHOS */

.meus-trabalhos {
  text-align: center;
}

/* FOOTER */

.form-steps {
  background: #3398FF;
}

.footer {
  background: #216294;
  padding: 60px 0;
}

.map-item {
  font-family: 'Muli', 'Roboto', 'Times New Roman', Times, serif;
  font-size: 14px;
}

.map-title {
  font-weight: bold;
}